@import 'variables';

.proj-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  column-gap: 6%;
  flex-grow: 1;
}


@media (max-width: $mobile-breakpoint) {
  .pc{
    padding: 1rem;
  }

  .proj-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .pc{
    padding: 2.5rem;
  }

  .proj-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Project Card CSS*/

.proj-card{
  border: 2px solid #000000;
  border-radius: 0.75em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  font-size: 1em;
  margin: 1rm;
  margin-bottom: 2em;
  overflow: hidden;
  padding: 7.5%;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}


/* Hover effects */
.proj-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* hover:shadow-md */
  transform: translateY(-4px); /* Slight lift on hover */
}

.project-image {
  border: 2px solid #EAEAEA;
  display: inline-block;
  margin-bottom: 2em;
}
