@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mulish:wght@700;800&display=swap');

// Fonts
$heading-bold-font:  normal 700 2.6em 'Mulish', sans-serif;
$heading-xbold-font: normal 800 2.2em 'Mulish', sans-serif;
$logo-font: normal 700 1em 'Mulish', sans-serif;
$body-reg-font:  normal 400 1.2em 'Lato', sans-serif;
$body-bold-font: normal 700 1.4em 'Lato', sans-serif;

$logo-kerning: 0.1rem;
$heading-kerning: 0.1rem;

// General
$padding-horiz: 64px;
$padding-horiz-mobile: 24px;
$padding-vert:  48px;
$padding-vert-mobile: 32px;
$section-padding: $padding-vert $padding-horiz;
$section-padding-mobile: $padding-vert-mobile $padding-horiz-mobile;
$section-bg: #fff;

// Colors
$colors: (
  splashBgDay: #85b6ff,
  splashBgNight: #000,
  splashTextDay: #000,
  splashTextNight: #fff,
  navbarBgScroll: #000,
  navbarText: #000,
  navbarTextScroll: #fff,
  footerBg: #000,
  footerText: #fff,
);

// Navbar
$navbar-height: 110px;
$navbar-height-mobile: 120px;
$navbar-transition: 0.3s;

// Splash
$sun-bg: url('../../assets/sun.svg');
$moon-bg: url('../../assets/moon.svg');
$sm-diam: 225px;
$sm-face: url('../../assets/sunmoon-face.svg');
$sm-face-width:  88px;
$sm-face-height: 30px;
$splash-transition: $navbar-transition;

// Footer
$footer-height: 110px;
$footer-height-mobile: 120px;

// Export colors to JS
:export {
  @each $key, $value in $colors {
    #{unquote($key)}: $value;
  }
}
