@import 'variables';

#construction {
  margin-top: calc(#{$navbar-height});
  transition: background-color $splash-transition, color $splash-transition;
}

#construction.day {
  background-color: map-get($colors, splashBgDay);
  color: map-get($colors, splashTextDay);
}

#construction.night {
  background-color: map-get($colors, splashBgNight);
  color: map-get($colors, splashTextNight);
}