@import 'variables';

#footer {
  display: flex;
  align-items: center;
  height: $footer-height;
  width: 100%;
  background-color: map-get($colors, footerBg);
  color: map-get($colors, footerText);
  user-select: none;
}

#footer-tag {
  display: flex;
  align-items: center;
  padding-left: $padding-horiz;
  font-weight: 800;
  font-size: 20px;
  text-align: left;
}

#footer-tag > p {
  font-weight: 400;
  margin-right: 0.8ch;
}

#footer-nav {
  text-align: right;
  flex: 1;
  justify-content: center;
  margin-right: 5%;
  margin-left: auto;
  color: map-get($colors, footerText);
  overflow: hidden;
}

#footer-nav a {
  padding-left: 6%;
}

@media only screen and (max-width: 600px) {
  #footer {
    width: 100vw;
    display: inline-block;
    text-align: center;
    height: $footer-height-mobile;
  }

  #footer-tag {
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  #footer-nav {
    text-align: center;
    padding: 0 0 1em;
    margin-right: 0;
    padding-right: 4%;
    overflow: scroll;
  }

  #footer-nav a {
    text-decoration: none;
    font-size: 0.9em;
  }
}
