@import url('variables');

/* same as team-page, refactor? */
.join-page {
  margin-top: calc(#{$navbar-height});
  background-color: #fff;
  padding: 24px $padding-horiz;
}

.join-page > * {
  max-width: $max-section-width;
  margin: 0 auto;
}

/* should also be part of a body text component refactor
 don't forget the media query at the bottom for this */
.join-body {
  width: 60%;
  max-width: 700px;
}

.indented {
  margin-left: 5vw;
}

.underlined {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}

.role-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.role-card {
  border: solid 1px black;
  max-width: 300px;
  padding: 24px;
  margin: 8px 24px 8px 0;
}

.role-img-container {
  height: 220px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 32px;
}

.role-img {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1080px) {
  .join-body {
    width: 90%;
  }
}
