@import 'variables';

#navbar {
  display: flex;
  align-items: center;
  height: $navbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: map-get($colors, splashBgDay);
  color: map-get($colors, navbarText);
  transition: background-color $navbar-transition, color $navbar-transition;
  user-select: none;
}

#title {
  display: flex;
  align-items: center;
  padding-left: $padding-horiz;
  font-weight: 800;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

#logo {
  width: 33px;
  height: 33px;
  margin-right: 10px;
  background-image: url('../../assets/cl-logo.svg');
  background-position: center;
  filter: invert(0%);
  transition: filter $navbar-transition;
}

#navigation {
  text-align: right;
  flex: 1;
  justify-content: center;
  margin-right: 5%;
  margin-left: auto;
  color: map-get($colors, navbarText);
  transition: color $navbar-transition;
}

#navigation a {
  padding-left: 6%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #navbar {
    width: 100vw;
    display: inline-block;
    text-align: center;
    height: $navbar-height-mobile;
    border-bottom: 1px solid black;
  }

  #title {
    justify-content: center;
    padding: 0;
  }

  #navigation {
    text-align: center;
    padding: 0 0 1em;
    margin-right: 0;
    padding-right: 4%;
    overflow: scroll;
  }

  #navigation a {
    text-decoration: none;
    font-size: 0.9em;
  }
}
