@import 'variables';

.item-block {
  break-inside: avoid-column;
  page-break-inside: avoid-column; // For Firefox
}

.item-img {
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 324;
  user-select: none;
  pointer-events: none;
  transition: box-shadow 0.1s;
}

.item-link:hover .item-img {
  box-shadow: $hover-shadow;
}

@media only screen and (max-width: 600px) {
  .item-block {
    padding-top: $padding-vert-mobile;
    padding-bottom: $padding-vert-mobile;
  }
}

.section-link-text, .item-link-text {
  position: relative;
}

.section-link-text:hover,
.item-link:hover .item-link-text {
  text-decoration: none;
  right: 0;
}

.section-link-text:hover::after,
.item-link:hover .item-link-text::after {
  right: 0;
}

.section-link-text::after,
.item-link-text::after {
  border-radius: 1em;
  border-top: .1em solid;
  content: "";
  position: absolute;
  right: 100%;
  bottom: .05em;
  left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}
