@import 'variables';

#splash {
  box-sizing: border-box;
  height: calc(100vh - #{$navbar-height});
  width: calc(100vw - 15px); // To avoid slight overflow
  padding: $section-padding;
  margin: 0;
  margin-top: calc(#{$navbar-height} - 1px); // To avoid artifacting
  background-color: map-get($colors, splashBg);
}

#blurb {
  width: 60vw;
  position: absolute;
  bottom: $padding-vert;
}

#sunmoon {
  width: $sm-diam;
  height: $sm-diam;
  background-image: $sun-bg;
  position: absolute;
  right: $padding-horiz;
  margin-top: calc(2 * #{$padding-vert});
  margin-right: calc(2.5 * #{$padding-horiz});
}

#sunmoon-face {
  width: $sm-face-width;
  height: $sm-face-height;
  background-image: $sm-face;
  position: absolute;
  top: 55%;
  left: 30%;
}
