@use 'variables.module' as *;

@mixin logo {
  // Fixed Properties
  background-image: url('../public/cl-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: invert(0%);
  transition: filter $navbar-transition;

  // Responsive Properties
  width: 33px;
  height: 33px;

  @media screen and (max-width: 600px) {
    width: 25px;
    height: 25px;
  }
}

@mixin background {
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin anchor-hover {
  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    border-bottom: 2px solid map-get($colors, 'black');
    transition: right 0.3s ease-out;
  }

  a:hover::after { /* stylelint-disable no-descending-specificity */
    right: 100%;
  }
}