@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mukta:wght@700;800&display=swap');

// Fonts
$heading-bold-font:  normal 700 2.6rem 'Mukta', sans-serif;
$heading-xbold-font: normal 800 3.2rem 'Mukta', sans-serif;
$logo-font: normal 700 1rem 'Mukta', sans-serif;
$body-reg-font:  normal 400 1.2rem 'Lato', sans-serif;
$body-bold-font: normal 700 1.4rem 'Lato', sans-serif;

$logo-kerning: 0.1rem;
$heading-kerning: 0.1rem;

// General
$padding-horiz: 64px;
$padding-horiz-mobile: 24px;
$padding-vert:  120px;
$padding-vert-mobile: 60px;

// Colors
$colors: (
  'blue': #75b0eb,
  'black': #212024,
  'beige': #f8f7f2,
  opaqueWhite: #fff0,
  splashBgDay: #e3f2ff,
  splashBgNight: #212024,
  splashTextDay: #212024,
  splashTextNight: #fff,
  navbarBgScroll: #212024,
  navbarText: #212024,
  navbarTextScroll: #fff,
  footerBg: #212024,
  footerText: #fff,
);

// Navbar
$navbar-height: 110px;
$navbar-height-mobile: 60px;
$navbar-transition: 0.3s;

// Splash
$sun-bg: url('../public/sun.svg');
$moon-bg: url('../public/moon.svg');
$sm-diam: 154px;
$sm-face: url('../public/sunmoon-face.svg');
$sm-face-width:  64.5px;
$sm-face-height: 22.17px;
$splash-transition: $navbar-transition;
$splash-gradient: linear-gradient(to top, #fff3e0, map-get($colors, splashBgDay));

// Item Block
$heading-margin-bottom: 10px;
$hover-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

// Section
$section-padding: $padding-vert $padding-horiz;
$section-padding-mobile: $padding-vert-mobile $padding-horiz-mobile;
$section-bg: #f8f7f2;
$max-section-width: 1440px;
$section-height: calc(100vh - #{$navbar-height});
$section-height-mobile: calc(100vh - #{$navbar-height-mobile});

// Export colors to JS
:export {
  @each $key, $value in $colors {
    #{unquote($key)}: $value;
  }
}
