@use 'variables.module' as *;
@use 'mixins.module' as mixin;

#footer {
  display: flex;
  align-items: center;
  padding: $padding-vert $padding-horiz;
  background-color: map-get($colors, footerBg);
  color: map-get($colors, footerText);
  user-select: none;

  #footer-tag, a {
    cursor: pointer;
  }
}

#footer-tag {
  display: flex;
  place-self: flex-start;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  text-align: left;
}

#logo {
  @include mixin.logo;
  margin-right: 10px;
  filter: invert(100%);
}

#footer-links {
  display: flex;
  margin-left: auto;
}

.footer-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: $padding-horiz;
  color: map-get($colors, footerText);

  .title {
    color: inherit;
    text-decoration: underline;
  }

  a {
    margin-top: 1.4rem;
  }
}

#footer-nav a {
  padding-left: 6%;
}

@media only screen and (max-width: 600px) {
  #footer {
    padding: $padding-vert-mobile $padding-horiz-mobile;
    flex-direction: column;
    align-items: flex-start;
  }

  #footer-links {
    margin: 0;
  }

  .footer-col {
    margin: right;
    
  }

  // #footer-tag {
  //   align-items: center;
  //   justify-content: center;
  //   padding: 0;
  // }

  // #footer-nav {
  //   text-align: center;
  //   padding: 0 0 1em;
  //   margin-right: 0;
  //   padding-right: 4%;
  //   overflow: scroll;
  // }

  // #footer-nav a {
  //   text-decoration: none;
  //   font-size: 0.9em;
  // }
}
