@use 'variables.module' as *;
@use 'mixins.module' as mixin;

#footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  background-color: map-get($colors, footerBg);
  color: map-get($colors, footerText);
  user-select: none;

  // Responsive Properties
  padding: $padding-vert $padding-horiz;
}

#footer-tag {
  display: flex;
  place-self: flex-start;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  text-align: left;
  cursor: pointer;
}

.logotype {
  font-size: 1.5rem;
  margin: 0;
}

#logo {
  @include mixin.logo;

  margin-right: 10px;
  filter: invert(100%);
}

#footer-links {
  display: flex;

  // Responsive Properties
  margin-left: auto;
}

.footer-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: map-get($colors, footerText);

  // Responsive Properties
  margin-right: $padding-horiz;

  .title {
    color: inherit;
    text-decoration: underline;
  }

  a {
    cursor: pointer;
    margin-top: 1.4rem;
  }
}

#footer-nav a {
  padding-left: 6%;
}

@media only screen and (max-width: 600px) {
  #footer {
    padding: $padding-vert-mobile $padding-horiz-mobile;
    flex-direction: column;
  }

  #footer-links {
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
  }

  .footer-col {
    margin: 0;
    flex: 1 1 120px;
    margin-top: 30px;
  }
}
