@use 'variables.module' as *;

body {
  padding: 0;
  margin: 0;
  font: $body-reg-font;
  background-color: map-get($colors, splashBgDay);
}

div {
  color: #000;
}

h1 {
  font: $heading-xbold-font;
  font-size: 5rem;
  letter-spacing: $heading-kerning;
}

h2 {
  font: $body-bold-font;
  font-size: 3rem;
  letter-spacing: $heading-kerning;
}

h3 {
  font: $heading-bold-font;
  font-size: 2.5rem;
}

h4 {
  font: $body-reg-font;
}

p {
  line-height: 1.6em;
}

a {
  color: inherit;
  text-decoration: none;
}

.logotype {
  font: $logo-font;
  letter-spacing: $logo-kerning;
}

.section {
  background-color: $section-bg;
  box-sizing: border-box;
  width: calc(100vw - 15px); // To avoid slight overflow
  padding: $section-padding;
  margin: 0;
}

.section > div {
  max-width: $max-section-width;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .section {
    width: 100vw;
    min-height: $section-height-mobile;
    padding: $section-padding-mobile;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}
