@use 'variables.module' as *;

.container {
  display: flex;
  flex: 1 1 500px;
  width: inherit;
  height: 360px;
  border: 3.5px solid black;
  background-color: map-get($colors, 'blue');
  justify-content: center;
  overflow: hidden;
}

.boys {
  min-width: 375px;
  width: inherit;
  display: flex;
  flex-wrap: nowrap;
}

.ellipse,
.circle,
.triangle {
  height: auto;
  position: relative;
}

.default {
  .ellipse {
    width: clamp(60px, 20vw, 131px);
    left: 12%;
    z-index: 2;
    bottom: -30%;
  }

  .circle {
    width: clamp(80px, 22vw, 143px);
    z-index: 1;
    left: 8%;
    bottom: -50%;
  }

  .triangle {
    width: clamp(150px, 40vw, 242px);
    bottom: -42%;
  }
}

#events {
  .ellipse {
    width: 100px;
    left: 10%;
    z-index: 2;
    bottom: -32%;
  }

  .circle {
    width: 120px;
    z-index: 1;
    transform: rotateZ(-135deg);
    left: 20%;
    top: -50%;
  }

  .triangle {
    width: 200px;
    transform: rotateZ(-20deg);
    bottom: -44%;
  }
}

#lecture-container,
#phone-container,
#events {
  height: 300px;
}

#phone,
#lecture {
  width: 400px;
}

#phone {
  transform: translateY(70px);
}

#lecture {
  position: relative;
  transform: translateY(60px);
}
