@use 'variables.module' as *;
@use '_mixins.module' as mixin;

#who-container {
  background-color: #fff;
  min-height: unset;

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & > div > div {
    margin: 30px 1.5%;
  }
}

#who-description {
  flex: 1 1 400px;

  h2 {
    margin: 0;
  }

  p {
    margin: 1.2rem 0;
    font-size: 1.5rem;
  }

  span {
    position: relative;
  }

  @include mixin.anchor-hover;
}

@media screen and (max-width: 600px) {
  #who-container > div > div {
    margin: 30px 0;
  }

  #who-description {
    font-size: 1rem;

    h3 {
      font-size: 2rem;
    }
  }
}
