@use 'variables.module' as *;
@use '_mixins.module' as mixin;

#navbar {
  // Fixed Properties
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  z-index: 100;
  background-color: map-get($colors, splashBgDay);
  color: map-get($colors, navbarText);
  transition: background-color $navbar-transition, color $navbar-transition;
  user-select: none;

  // Responsive Properties
  height: $navbar-height;
  padding: 0 $padding-horiz;
  width: 100%;

  * {
    cursor: pointer;
  }

  h4 {
    margin-left: 5.5%;
  }
}

#logo {
  @include mixin.logo;
}

@media only screen and (max-width: 600px) {
  #navbar {
    height: $navbar-height-mobile;
    padding: 0 $padding-horiz-mobile;
    width: calc(100vw - 2 * #{$padding-horiz-mobile});
    justify-content: space-between;

    h4 {
      font-size: 1rem;
      margin-left: 0;
    }
  }
}
