@use 'variables.module' as *;
@use '_mixins.module' as mixin;

#nav-wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;

  box-sizing: border-box;
  color: map-get($colors, navbarText);
  transition: background-color $navbar-transition, color $navbar-transition;
  user-select: none;

  // Responsive Properties
  height: $navbar-height;
  padding: 0 $padding-horiz;
}

#navbar {
  // Fixed Properties
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: $max-section-width;

  // Responsive Properties
  height: $navbar-height;

  * {
    cursor: pointer;
  }

  h4 {
    margin-left: 5.5%;
  }
}

#logo {
  @include mixin.logo;
}

@media only screen and (max-width: 600px) {
  #nav-wrapper {
    height: $navbar-height-mobile;
    padding: 0 $padding-horiz-mobile;
  }

  #navbar {
    height: $navbar-height-mobile;
    width: calc(100vw - 2 * #{$padding-horiz-mobile});
    justify-content: space-between;

    h4 {
      font-size: 1rem;
      margin-left: 0;
    }
  }
}
