@use 'variables.module' as *;
@use '_mixins.module' as mixin;

.heading {
  margin: 0;
}

.section-body {
  font-size: 1.5rem;
  max-width: min(600px, 100vw);
}

.section-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-item {
  flex: 1 1 300px;
  margin: 30px 5px;

  .preface {
    font-size: 1rem;
    margin: 1rem 0 0;
  }

  h3 {
    margin: 1rem 0 0;
  }

  p {
    font-size: 1.2rem;
    margin: 0 0 1.2rem;
    padding-right: 16px;
  }

  span {
    position: relative;
  }

  @include mixin.anchor-hover;
}

.backdrop {
  padding: 1rem 2rem;
}

@media only screen and (max-width: 600px) {
  .section-items {
    width: calc(100vw - 2 * #{$padding-horiz-mobile});
    display: inline-block;
    columns: 1 auto;
  }

  .heading {
    font-size: 2rem;
  }

  .section-body {
    font-size: 1rem;
  }

  .section-item {
    .preface {
      font-size: .9rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
